@import '@/shared/styles/_variables.scss';

.selector {
  border-radius: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  &__active {
    background: $colorSurfacePrimary;
  }
}
